<div class="details-section">
	<div class="title-box mb-5">
		<p>Estudiantes con pagos pendientes</p>
		<hr>
	</div>
	<div class="table-box table-responsive px-5 py-4">
		<table class="table text-center">
			<thead>
				<tr>
					<th scope="col">Nombre</th>
					<th scope="col">Apellido</th>
					<th scope="col">Acciones</th>
				</tr>
			</thead>
			<tbody>
				{{#each students}}
					{{#if (paymentsMatch payments)}}
						<tr>
							<td>{{data.name}}</td>
							<td>{{data.surname}}</td>
							<td>
								<a href="/students/details/{{data._id}}"><i class="far fa-user"></i></a>
								<a href="/payments/{{data._id}}/new-payment"><i class="far fa-money-bill-alt"></i></a>
							</td>
						</tr>
					{{/if}}
				{{else}}
					<tr>
						<td>No hay registros</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>