<div class="details-section">
	<div class="title-box mb-5">
		<p>Detalles de la sección</p>
		<hr>
	</div>
	<div class="div pb-3 pb-md-5 col-md-4 mr-auto pl-md-0">
		<div class="form-group">
			<label for="monthSelect">Estudiantes con pagos pendientes del mes:</label>
			<select class="custom-select" name="month" id="monthSelect">
		    	<option value="0" selected disabled>Seleccione un mes</option>
		    	<option value="1">Enero</option>
		    	<option value="2">Febrero</option>
		    	<option value="3">Marzo</option>
		    	<option value="4">Abril</option>
		    	<option value="5">Mayo</option>
		    	<option value="6">Junio</option>
		    	<option value="7">Julio</option>
		    	<option value="8">Agosto</option>
		    	<option value="9">Septiembre</option>
		    	<option value="10">Octubre</option>
		    	<option value="11">Noviembre</option>
		    	<option value="12">Diciembre</option>
		    </select>
		</div>
	</div>
	<div class="table-box table-responsive px-5 py-4">
		<table class="table text-center">
			<thead>
				<tr>
					<th scope="col">Nombre</th>
					<th scope="col">Apellido</th>
					<th scope="col">Acciones</th>
				</tr>
			</thead>
			<tbody>
				{{#each students}}
					{{#if (paymentsMatch payments 1)}}
						<tr>
							<td>{{data.name}}</td>
							<td>{{data.surname}}</td>
							<td>
								<a href="/students/details/{{data._id}}"><i class="far fa-user"></i></a>
								<a href="/payments/{{data._id}}/new-payment"><i class="far fa-money-bill-alt"></i></a>
							</td>
						</tr>
					{{/if}}
				{{else}}
					<tr>
						<td>No hay registros</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>
